.amenity {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;

	padding: 0.5rem 0;
	border-bottom: solid 1px var(--cl-background-shade-2);
}

.amenity:last-child {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;

	padding: 0.5rem 0;
	border-bottom: none;
}

.amenity-icon {
	width: 2.5ch;
	aspect-ratio: 1 / 1;
	border-radius: var(--br-light);
	padding: 0.5rem;
	background-color: var(--cl-emphasis);
	filter: hue-rotate(180deg) invert(1);
}

.amenity-text {
	font-family: var(--heading-text);
	font-weight: 600;
	font-size: 1.2rem;
}
