#amenities {
	background-color: var(--cl-background-shade);
}

.amenities-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	margin-bottom: 2rem;
}

.ft-amenity {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	text-align: center;
}

.ft-amenity hr {
	width: 100%;
	border: solid 0.5px var(--cl-background-shade-2);
}

.ft-amenity-icon {
	max-width: 50%;
}

.ft-amenity-heading {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	min-height: 3lh;

	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	color: var(--cl-foreground);
}
