.bento-container {
	--bento-gap: 1rem;

	display: flex;
	gap: var(--bento-gap);
}

.bento-container * {
	flex: 1;
}

.bento-column {
	display: grid;
	grid-template-rows: 3fr 2fr;
	gap: var(--bento-gap);
}

.bento-column:nth-child(2) {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.bento-img {
	border-radius: var(--br-normal);
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1400px) {
	.bento-container {
		flex-direction: column;
	}

	.bento-column {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: auto;
		gap: var(--bento-gap);
	}

	.bento-column:nth-child(2) {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
	}
}
