.btn {
	display: block;

	border: solid 2px transparent;
	border-radius: var(--br-normal);
	padding: 1rem 1.5rem;

	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

	background-color: var(--cl-foreground);

	transition: 400ms;
	cursor: pointer;
}

.btn-normal {
	border-color: var(--cl-foreground);
	color: var(--cl-foreground);
	background-color: var(--cl-background);
}

.btn-normal:hover {
	border-color: transparent;
	color: var(--cl-background);
	background-color: var(--cl-foreground);
}

.btn-emphasis {
	border-color: transparent;
	color: var(--cl-background);
	background-color: var(--cl-emphasis);
}

.btn-emphasis:hover {
	border-color: var(--cl-foreground);
	color: var(--cl-foreground);
	background-color: var(--cl-background);
}

.btn-hero {
	color: black;
	background-color: white;
	mix-blend-mode: screen;
}

.btn-hero:hover {
	border: solid 2px black;
	filter: invert(1);
}
