.col-bento-container {
	display: flex;
	/* grid-template-columns: max(20vw, 20rem) auto; */
	gap: 4rem;
}

.content {
	display: grid;
	gap: 1rem;
	min-width: max(20vw, 15rem);
}

@media screen and (max-width: 1000px) {
	.col-bento-container {
		flex-direction: column;
		gap: 2rem;
	}
}
