.col-bento-container {
	display: flex;
	/* grid-template-columns: max(20vw, 20rem) auto; */
	gap: 4rem;
}

.content {
	min-width: max(20vw, 20rem);
}

.content *:not(:last-child) {
	margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
	.col-bento-container {
		flex-direction: column;
		gap: 2rem;
	}
}
