.field {
	display: grid;
}

.field-label {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.field-input {
	outline: solid 1px transparent;
	border: solid 1px hsl(0, 0%, 50%);
	border-radius: var(--br-light);
	padding: 0.5rem;
	transition: outline 400ms;
}

.field-input:focus-visible {
	outline: solid 1px var(--cl-emphasis);
}

textarea.field-input {
	min-width: 48ch;
	min-height: 6lh;
}
