.nav-link {
	border-bottom: 3px transparent solid;
	padding: 0.5rem 0;

	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: white;

	transition: border-bottom 800ms;

	cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
	border-bottom: 3px white solid;
	transition: border-bottom 400ms;
}

.floating-nav .nav-link {
	color: var(--cl-foreground);
}

.floating-nav .nav-link.active,
.floating-nav .nav-link:hover {
	border-color: var(--cl-foreground);
}
