.testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	border: solid 2px var(--cl-emphasis-shade);
	border-radius: 8px;
	padding: 2rem;

	text-align: center;

	background-color: var(--cl-background);
	box-shadow: 2px 2px 8px hsl(0, 0%, 0%, 0.1);
}

.testimonial * {
	font-size: 1.2rem;
}

.testimonial-quotation {
	margin-top: 2rem;
	font-size: 4rem;
	line-height: 0;
	color: var(--cl-emphasis);

	user-select: none;
}

.testimonial-body {
	font-style: italic;
	color: var(--cl-foreground-shade-2);
}

.testimonial-author::before {
	content: "–";
	margin-right: 1ch;
}

.testimonial-author {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: var(--cl-foreground-shade);

	transform: translateX(-1ch);
}
