textarea.field-input {
	min-width: 48ch;
	min-height: 6lh;
}

.char-count {
	font-family: var(--sans-serif);
	font-size: 0.9rem;
	font-weight: 400;
	text-align: right;
	letter-spacing: 0.1px;
	color: var(--cl-midground);

	transition: 400ms;
}

.field-input:focus-visible + .char-count {
	font-weight: 600;
	letter-spacing: -0.2px;
	color: var(--cl-emphasis);
}

.field-input:focus-visible + .yellow {
	color: hsl(40, 80%, 50%) !important;
}
