:root {
	--background: white;
	--foreground: black;

	--site-padding-x: 8rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: black;
		--foreground: white;
	}
}

body {
	background-color: var(--background);

	color: var(--foreground);
}

header {
	--nav-padding-y: 2rem;

	position: fixed;
	padding: var(--nav-padding-y) var(--site-padding-x);
	width: calc(100vw - calc(var(--site-padding-x) * 2));

	background-color: hsl(0, 0%, 100%, 0.5);
	backdrop-filter: blur(4px);
}

nav ul {
	display: flex;
	gap: 2rem;
}

#hero {
	--hero-padding-y: 8rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	padding: var(--hero-padding-y) var(--site-padding-x);
	height: calc(100vh - calc(var(--hero-padding-y) * 2));

	color: white;

	background-color: #565e38;
	background: url(./assets/images/hero-background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}
