.no-scroll {
	overflow: hidden;
}

.hidden {
	display: none !important;
}

.menu-overlay {
	position: fixed;
	inset: 0;
	display: flex;
}

.menu-backdrop {
	height: 100%;
	width: 100%;
	background-color: var(--cl-foreground);
	opacity: 0.2;
	backdrop-filter: blur(10px);
	animation: fade 200ms;
}

#nav-menu {
	background-color: var(--cl-background);
	height: 100%;
	padding: 1.5rem;
	padding-left: var(--site-padding-x);
	padding-right: 2.5rem;
	box-shadow: 4px 0 4px hsl(0, 0%, 50%, 0.2);
}

#nav-menu .nav-link {
	color: var(--cl-foreground);
	padding-bottom: 0.25rem;
}

#nav > .menu-button {
	filter: invert(1);
}

#nav-menu .menu-button img,
#nav.floating-nav .menu-button {
	filter: none;
}

.menu-button {
	display: none;
	align-items: center;
	gap: 1rem;
	width: 2rem;
	aspect-ratio: 1 / 1;
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
	opacity: 0.8;
}

.menu-text {
	font-family: var(--sans-serif);
	font-size: 1.4rem;
	font-weight: 700;
}

.nav-menu-links {
	margin-top: 2rem;
	font-size: 1.2rem;
}

.nav-menu-links li {
	padding: 0.5rem 0;
}

@media (max-width: 900px) {
	.menu-button {
		display: flex;
	}
}

@media (prefers-color-scheme: dark) {
	#nav > .menu-button {
		filter: none;
	}

	#nav > .menu-button img {
		filter: invert();
	}

	#nav-menu > .menu-button img {
		filter: invert();
	}
}
