#booking {
	background: var(--cl-contrast-shade);
	background: url(../../assets/images/cottage/owl-cottage-panorama-4.jpeg);
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-attachment: fixed;
}

#booking h2 {
	color: white;
}

.booking-main {
	max-width: max(40%, 48rem);
}

#booking .card {
  display: flex;
  gap: 1rem;
}

#message {
	min-width: auto;
	resize: none;
}

#booking p {
	margin-top: 1.5rem;
}

.email-link {
	font-weight: bold;
	color: var(--cl-emphasis);
}

.email-link:hover {
	text-decoration: underline;
}

.booking-terms {
  display: block;

  margin-block-start: 2rem;
  padding: 0.5rem 1rem;
  max-width: fit-content;

  border-style: solid;
  border-width: 2px;
  border-color: var(--cl-background-shade);
  border-radius: var(--br-light);

  font-weight: 500;

  background-color: var(--cl-background-shade);

  transition-property: border-color, background-color;
  transition-duration: 800ms;
}
.booking-terms:hover {
  background-color: var(--cl-background-shade-2);
  border-color: var(--cl-foreground-shade);
  transition-duration: 400ms;
}

.airbnb-embed-frame * {
   box-shadow: none;
}

@media screen and ( max-width: 767.98px ) {
  #booking .card {
    flex-direction: column;
  }
}

