#booking {
	background: var(--cl-contrast-shade);
	background: url(../../assets/images/cottage/owl-cottage-panorama-4.jpeg);
	background-position: bottom right;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-attachment: fixed;
}

#booking h2 {
	color: white;
}

.booking-main {
	max-width: max(40%, 48rem);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#message {
	min-width: auto;
	resize: none;
}

#booking p {
	margin-top: 1.5rem;
}
