#about {
	display: grid;
	background-color: var(--cl-background);
}

#about #introduction {
	margin-bottom: 4rem;
}

.feature p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.img-grid {
	display: grid;
	gap: 1rem;
}

.icon-with-caption {
	display: flex;
	align-items: center;
	gap: 1rem;

	border-radius: var(--br-normal);
	padding: 1rem;

	background-color: var(--cl-background-shade);

	opacity: 0.7;
}

.icon-with-caption img {
	width: 3rem;
}

.icon-with-caption figcaption {
	font-size: 1.1rem;
	font-weight: 700;
}
