:root {
	--bento-gap: 1rem;
}

#about {
	background-color: var(--cl-background);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: calc(2 * var(--bento-gap));
}

.bento-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--bento-gap);
}

.bento-column {
	display: grid;
	grid-template-rows: 3fr 2fr;
	gap: var(--bento-gap);
}

.bento-column:nth-child(2) {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.bento-img {
	border-radius: var(--br-normal);
	height: 100%;
	object-fit: cover;
}

.feature p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.img-grid {
	display: grid;
	gap: 1rem;
}

.icon-with-caption {
	display: flex;
	align-items: center;
	gap: 1rem;

	border-radius: var(--br-normal);
	padding: 1rem;

	background-color: var(--cl-background-shade);

	opacity: 0.7;
}

.icon-with-caption img {
	width: 3rem;
}

.icon-with-caption figcaption {
	font-size: 1.1rem;
	font-weight: 700;
}
