#root {
	/* max-width: 1280px; */
	position: relative;
}

* {
	margin: 0;
}

html {
	font-family: sans-serif;
}

body {
	background-color: var(--cl-background);

	font-weight: 400;
	font-style: normal;
	text-wrap: pretty;
	color: var(--cl-foreground);
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

h1,
h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 800;
}

h1 {
	font-size: 4rem;
	letter-spacing: -0.2rem;
	color: white;
}

h2 {
	font-size: 3rem;
	color: var(--cl-foreground-shade);
}

h3 {
	margin-bottom: 1rem;

	font-size: 1.5rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	color: var(--cl-foreground-shade-2);
}

p,
span {
	font-family: var(--serif);
	line-height: 1.5;
}

span {
	font-weight: 700;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

dialog:focus-visible {
	outline: none;
}

@media only screen and (max-width: 600px) {
	h1,
	h2 {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}
