#local-area-map {
	background-color: var(--cl-contrast-shade);
}

.p-container {
	padding: 2rem;
	border: solid 2px var(--cl-background-shade-2);
	border-radius: var(--br-normal);
	background-color: var(--cl-background);
	box-shadow: var(--box-shadow);
}
