#location {
	background-color: var(--cl-background);
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	gap: 4rem;
}

.p-container *:not(:last-child) {
	margin-bottom: 1rem;
}

.map {
	border: solid 4px var(--cl-background) !important;
	border-radius: var(--br-normal);
	background-color: var(--cl-background);
	box-shadow: var(--box-shadow);
}
