#root {
	/* max-width: 1280px; */
	position: relative;
}

section {
	--section-padding-y: 4rem;

	padding: var(--section-padding-y) var(--site-padding-x);
}

footer {
	--footer-padding-y: 2rem;

	padding: var(--footer-padding-y) var(--site-padding-x);

	color: hsl(0, 0%, 80%);

	background-color: hsl(0, 0%, 10%);
}

.img-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.icon-with-caption {
	display: flex;
	align-items: center;
	gap: 1rem;

	border-radius: 4px;
	padding: 1rem;

	background-color: hsl(0, 0%, 95%);

	opacity: 0.7;
}

.icon-with-caption img {
	width: 3rem;
}

.icon-with-caption figcaption {
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

.section-contrast-background {
	background-color: hsl(0, 0%, 95%);
}

.img-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.img-with-caption {
	flex: 1 0 30%;
	min-width: 20rem;

	display: flex;
	flex-direction: column;

	border-radius: 4px;

	overflow: hidden;
}

.img-with-caption figcaption {
	flex-grow: 1;

	padding: 2rem;

	background-color: white;
}

.img-with-caption h3 {
	margin-bottom: 1rem;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: hsl(0, 0%, 20%);
}

#location {
	background-color: hsl(0, 0%, 95%);
}
