#root {
	/* max-width: 1280px; */
	position: relative;
}

section {
	--section-padding-y: 4rem;

	padding: var(--section-padding-y) var(--site-padding-x);
}

footer {
	--footer-padding-y: 2rem;

	padding: var(--footer-padding-y) var(--site-padding-x);

	color: hsl(0, 0%, 80%);

	background-color: hsl(0, 0%, 10%);
}
