#booking {
	background-color: hsl(0, 0%, 95%);
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-section {
	padding: 2rem;
	background-color: white;
}

.section-fields {
	display: grid;
	gap: 1rem;
}
