.form-field {
	display: grid;
	margin-bottom: 2rem;
}

textarea.field-input {
	min-width: 48ch;
	min-height: 6lh;
}

.form-buttons {
	display: flex;
	gap: 2rem;
}

.form-section button {
	margin-top: 1rem;
}
