header {
	--nav-padding-y: 1rem;

	position: absolute;
	inset: 0 auto auto 0;
	padding: var(--nav-padding-y) var(--site-padding-x);
	width: calc(100vw - calc(var(--site-padding-x) * 2));
}

header {
	background-color: hsl(0, 0%, 100%, 0);
	background: linear-gradient(hsl(0, 0%, 0%, 0.4), hsl(0, 0%, 0%, 0));
}

nav ul {
	display: flex;
	gap: 2rem;
}

.nav-link {
	border-bottom: 2px transparent solid;
	padding: 0.5rem 0;

	font-size: 0.8rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: white;

	transition: border-bottom 1200ms;

	cursor: pointer;
}

.floating-nav {
	position: fixed;
	z-index: 1;

	color: var(--foreground);
	background: none;
	background-color: var(--background);

	animation: fly-down 400ms;
	transition: opacity 400ms;
}

.floating-nav .nav-link {
	color: var(--foreground);
}

.nav-link.active,
.nav-link:hover {
	border-bottom: 2px white solid;
	transition: border-bottom 400ms;
}

.floating-nav .nav-link.active,
.floating-nav .nav-link:hover {
	border-color: var(--foreground);
}

@keyframes fly-down {
	from {
		transform: translateY(-100%);
	}
}
