.amenity {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 1rem;

	padding: 0.5rem 0;
	border-top: solid 1px var(--cl-background-shade-2);
}

.amenity-icon {
	width: 1.3rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	padding: 0.5rem;

	background-color: var(--cl-contrast-shade);
	opacity: 0.8;

	overflow: visible;
}

.amenity-text {
	font-family: var(--sans-serif);
	font-weight: 300;
}
